.containerLinks{
    gap: 1rem;  
}

  @media screen and (max-width: 800px) {
    .mobileMenu{
        height: 15vw;
    }
    
  }
  @media screen and (min-width: 800px) {
    .mobileMenu{
        display: none;
    }
    
  }
  @media screen and (max-width: 800px) {
    .menuDesktop{
       display: none;
    }
  }